.AppBar{
    background-color: rgb(245, 246, 243);
}
.tab-link{
    color: Black;
}
.nav-link{
    
    padding-top: 100px;
    
}


.hed-btn{
    padding-top: 10px;
    padding-left: 90px;
    align-content: space-between;
}